# Aliases

alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias c='clear'
alias sbp='source /home/unmary/.bashrc'
alias sba='source /home/unmary/.aliases'
alias ".."='cd ..'
alias x='exit'

alias su='sudo -i'
alias upp='sudo apt update && upgrade -y'

# Copy Paste
alias pbc='xclip -selection clipboard'
alias pbp='xclip -o -selection clipboard'


# Git Aliases
alias gg='git pull && git add . && git commit -m "update" && git push && git status'

alias gl='git clone'
alias ga='git add .'
alias gc='git commit -m "$@"'
alias gp='git push'
alias gf='git pull'
alias gs='git status'

#git pull origin master --allow-unrelated-histories

# Downloads
alias down='cd /home/unmary/Downloads/ && tree -L 1'

# Librarian
alias lib='cd /home/unmary/Librarian/ && tree -L 1'

# Notes
alias notes='cd /home/unmary/Librarian/Notes/ && tree -L 1'

# Roam Notes
alias roam='cd /home/unmary/Librarian/Roam/ && tree -L 1'


# Dictionary
alias dic='cd /home/unmary/Librarian/Dictionary/ && tree -L 1'

# Bibliography
alias bib='cd /home/unmary/Librarian/Bibliography/ && tree -L 1'

# Books
alias books='cd /home/unmary/Librarian/Books/ && tree -L 1'

# Work
alias work='cd /home/unmary/Librarian/WorkStuff/ && tree -L 1'

# Emacs
alias em='cd ~/.emacs.d/'

# tree 2
alias tr2='tree -L 2'
