# Aliases

alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias c='clear'
alias sbp='source /home/unmary/.bashrc'
alias sba='source /home/unmary/.aliases'
alias ".."='cd ..'
alias x='exit'

alias su='sudo -i'
alias upp='sudo apt update && upgrade -y'

# Copy Paste
alias pbc='xclip -selection clipboard'
alias pbp='xclip -o -selection clipboard'


# Git Aliases
alias gg='git pull && git add . && git commit -m "update" && git push && git status'

alias gl='git clone'
alias ga='git add .'
alias gc='git commit -m "$@"'
alias gp='git push'
alias gf='git pull'
alias gs='git status'

#git pull origin master --allow-unrelated-histories

# Librarian
alias lib='cd /mnt/bd9dc6ee-d251-406d-8dce-ea714434ee34 && ls'

# Notes
alias notes='cd /mnt/bd9dc6ee-d251-406d-8dce-ea714434ee34/Notes && ls'
alias org='cd /mnt/bd9dc6ee-d251-406d-8dce-ea714434ee34/Notes/Org && ls'

# Dictionary
alias dic='cd /mnt/bd9dc6ee-d251-406d-8dce-ea714434ee34/Dictionary && ls'

# Bibliography
alias bib='cd /mnt/bd9dc6ee-d251-406d-8dce-ea714434ee34/Dictionary && ls'

# MeDB
alias me='cd /mnt/bd9dc6ee-d251-406d-8dce-ea714434ee34/MeDB && ls'

# Work
alias work='cd /mnt/bd9dc6ee-d251-406d-8dce-ea714434ee34/Work/WorkStuff/ && ls'

# Emacs
alias em='cd ~/.emacs.d/'

# tree 2
alias tr2='tree -L 2'
